.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.card:not(:last-child) {
    margin-bottom: 50px;
}

.card-title {
    background: var(--medium);
    color: var(--white);
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    border: solid 2px var(--medium);
    border-top: none;
}