.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    background: var(--medium);
    color: var(--white);
}

.header-title {
    margin: 0;
    font-weight: normal;
}

.nav-item {
    text-decoration: none;
    color: var(--white);
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}