.table {
    width: 100%;
}

.table-header {
    background-color: var(--bright);
}

.table-header-cell {
    color: var(--text);
    padding: 10px;
}

.table-row:nth-child(2n) {
    background-color: var(--light);
}

.table-row-cell {
    padding: 10px;
}

.table-header-sort {
    border: none;
    background: none;
    padding: 0;
    color: var(--text);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table-header-sort-icon-box {
    position: relative;
    margin-left: 10px;
}

.table-header-sort-icon:first-of-type {
    position: absolute;
}

.table-header-sort-icon-hidden {
    opacity: 0;
}