body {
    --white: #F7F7FF;
    --light: #899fbc;
    --medium: #577399;
    --dark: #384a63;
    --accent: #FE5F55;
    margin: 0;
    background: var(--white);
    font-family: 'Wix Madefor Text', sans-serif;
}