body {
    margin: 0;
    --background: #FDFCDC;
    --primary-light: #00AFB9;
    --primary-bright: #0081A7;
    --secondary-light: #FED9B7;
    --secondary-bright: #F07167;
    --headline: 'Righteous', sans-serif;
    --copy: 'Wix Madefor Display', sans-serif;
}