.newEmployee-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 50px auto;
}

.newEmployee-contentRow {
  display: flex;
  align-items: start;
  width: 100%;
}

.newEmployee-contentRow:not(:last-child) {
  margin-bottom: 20px;
}

.newEmployee-contentRow > *:not(:last-child) {
  margin-right: 20px;
}

.newEmployee-submitButton {
  background: var(--medium);
  color: var(--white);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.17em;
  font-weight: bold;
  font-family: 'Wix Madefor Text', sans-serif;
  box-shadow: none;
  border: solid 2px var(--medium);
  transition: all 0.4s ease;
  cursor: pointer;
}

.newEmployee-submitButton:hover {
  background: var(--white);
  color: var(--medium);
}